<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://moog-worker-dyf9hghsamadfege.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/981d09e9-02e7-46e0-bdd6-9dfcbbbd7f80/resourceGroups/Online-Order-Gateway/providers/Microsoft.Web/sites/MOOG-Worker</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>moog-worker-dyf9hghsamadfege.scm.southafricanorth-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>MOOG-Worker</DeployIisAppPath>
  </PropertyGroup>
</Project>