<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/981d09e9-02e7-46e0-bdd6-9dfcbbbd7f80/resourceGroups/Online-Order-Gateway/providers/Microsoft.Web/sites/MOOG-API</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://moog-api-cehvddbad6c0f8gd.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ed6b6783-b070-ed0e-3429-1846e07e78c8</ProjectGuid>
    <PublishUrl>https://moog-api-cehvddbad6c0f8gd.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$MOOG-API</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>